@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.track {
  letter-spacing: 0px;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto Slab", serif;
}
